@font-face {
	font-family: sorce;
	src: url("../fonts/SourceCodePro-Regular.otf");
}
@font-face {
	font-family: Muli;
	src: url("../fonts/Muli-Regular.ttf");

}
@font-face {
	font-family: Dancing;
	src: url("../fonts/DancingScript-Regular.ttf");
}

.main_body{
	margin: 0px;
}
.game_options{
	position: relative;
	width:100%;
	height:40px;	
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 16px;

	padding-top: 20px;
	background-color: #009cde;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: 4px solid #008fcc;
	text-align: center;
	
	font-family: Muli;
	
}
.report_buttons{
	position:absolute; 
	top: 50%;
	left: 25%;
	width:50%;
	background-color:black;
}
.report_options{
	position: relative;
	top: 140px;
	width:80vw;
	height:40px;
	left:10%;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 16px;

	padding-top: 20px;
	background-color: #009cde;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: 4px solid #008fcc;
	text-align: center;
	
	font-family: Muli;
	
}


.lightbox{
	position:absolute; 
	top: 50%;
	left: 25%;
	width:50%;
	background-color:black;
	
}
.select_your_app{
	width: 100%;
	min-height: calc(100vh - 60px);
	display: inline-block;
	font-size: 0px;
	line-height: 0px;
	background-image: url("../images/wood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	
}
.select_your_app .title_space{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	margin: 0px;
	display:inline-block;
}
.select_your_app .mafy_title{
	width: 70%;
	font-family: sorce, Arial;
	font-size: 24px;
	line-height: 1;
	color: white;
	display: inline-block;
	margin: 0px;
	vertical-align: middle;
	font-family: Muli;
}
.select_your_app .mafy_icon{
	width: 15%;
	height: 60px;
	background-image: url("../images/AppIcon.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	vertical-align: middle;
}
.select_your_app .mafy_menu{
	width: 15%;
	height: 90%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	vertical-align: middle;
}

.select_your_app .each_app{
	margin: 20px 1%;
	width: 31%;
	height: 105px;
	display: inline-block;
	text-align: center;
}
.select_your_app .app_icon{
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 20px;
}
.select_your_app .app_title{
	font-family: sorce, Arial;
	width: 100%;
	font-size: 12px;
	line-height: 1;
	color: white;
}

.input_area{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	font-size: 20px;
	padding-top: 50px;
	color:white;
	line-height: 1;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	font-family: Muli;
}
.report_area{
	position: absolute;
	top: 60px;
	left: 0;
	height: 100%;
	width:100%;
	

}
.text_area{
	position: absolute;
	
	height: 120px;
	top: 10px;
	left: 10vw;
	width:80vw;
	font-size: 20px;
	padding-top: 0px;
	
	color:white;
	line-height: 1;
	text-align: left;
	background-color: rgba(0,0,0,0.9);
	font-family: Muli;
}
.add_app{
	height: 40px;
	width:100%;
	padding-top: 20px;
	background-color: black;
	font-size: 20px;
	color:white;
	line-height: 1;
	text-align: center;
	font-family: Muli;
}
.code_input{
	box-sizing: border-box;
	width:65%;
	padding: 5px;
	margin: 5px;
	height: 50px;
	font-size: 16px;
	vertical-align: top;
}
.save_button{
	box-sizing: border-box;
	width: 25%;
	font-size: 15px;
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding-top: 16px;
	background-color: #00aeef;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.nodisplay{
	display: none;
}

.error_message{
	padding-top: 20px;
	color:white;
}

.hidden{
	display: none;
}

.div.hidden{
	display: none;
}